:root {
  font-family: 'Roboto', sans-serif;

  color-scheme: light dark;
  color: rgba(137, 201, 188, 0.87);
  background-color: #2f4e58;
}

a {
  font-weight: 500;
  color: #6181eb;
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


button:hover {
  border-color: #646cff;
}




.nav{
  display: flex;
  justify-content: space-between;
  padding: 0%;
}
